In [1]:
# Importing essential libraries
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
from matplotlib import rcParams as rcP
import seaborn as sns
%matplotlib inline

In [2]:
# Loading the dataset
df = pd.read_csv('pune_House_Data.csv')

In [3]:
df

,area_type,availability,size,society,total_sqft,bath,balcony,price,site_location
0,Super built-up Area,19-Dec,2 BHK,Coomee,1056,2.0,1.0,39.07,Alandi Road
1,Plot Area,Ready To Move,4 Bedroom,Theanmp,2600,5.0,3.0,120.00,Ambegaon Budruk
2,Built-up Area,Ready To Move,3 BHK,NaN,1440,2.0,3.0,62.00,Anandnagar
3,Super built-up Area,Ready To Move,3 BHK,Soiewre,1521,3.0,1.0,95.00,Aundh
4,Super built-up Area,Ready To Move,2 BHK,NaN,1200,2.0,1.0,51.00,Aundh Road
...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,Ready To Move,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.00,Pashan
13316,Super built-up Area,Ready To Move,4 BHK,NaN,3600,5.0,NaN,400.00,Paud Road
13317,Built-up Area,Ready To Move,2 BHK,Mahla T,1141,2.0,1.0,60.00,Pirangut
13318,Super built-up Area,18-Jun,4 BHK,SollyCl,4689,4.0,1.0,488.00,Prabhat Road
13319,Super built-up Area,Ready To Move,1 BHK,NaN,550,1.0,1.0,17.00,Pune Railway Station

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   area_type      13320 non-null  object
 1   availability   13320 non-null  object
 2   size           13304 non-null  object
 3   society        7818 non-null   object
 4   total_sqft     13320 non-null  object
 5   bath           13247 non-null  float64
 6   balcony        12711 non-null  float64
 7   price          13320 non-null  float64
 8   site_location  13319 non-null  object
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

In [5]:
df.isnull().sum()

area_type           0
availability        0
size               16
society          5502
total_sqft          0
bath               73
balcony           609
price               0
site_location       1
dtype: int64

In [6]:
for i in df.columns:
    print(df[i].value_counts())
    print('*'*50)

Super built-up  Area    8790
Built-up  Area          2418
Plot  Area              2025
Carpet  Area              87
Name: area_type, dtype: int64
**************************************************
Ready To Move    10581
18-Dec             307
18-May             295
18-Apr             271
18-Aug             200
                 ...
15-Aug               1
17-Jan               1
16-Nov               1
16-Jan               1
14-Jul               1
Name: availability, Length: 81, dtype: int64
**************************************************
2 BHK         5199
3 BHK         4310
4 Bedroom      826
4 BHK          591
3 Bedroom      547
1 BHK          538
2 Bedroom      329
5 Bedroom      297
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
11 Bedroom       2
10 BHK           2
14 BHK           1
13 BHK           1
12 Bedroom       1
27 BHK           1
43 Bedroom       1
16 BHK           1
19 BHK           1
18 Bedroom       1
Name: size, dtype: int64
**************************************************
GrrvaGr    80
PrarePa    76
Sryalan    59
Prtates    59
GMown E    56
           ..
Amionce     1
JaghtDe     1
Jauraht     1
Brity U     1
RSntsAp     1
Name: society, Length: 2688, dtype: int64
**************************************************
1200    843
1100    221
1500    205
2400    196
600     180
       ...
3580      1
2461      1
1437      1
2155      1
4689      1
Name: total_sqft, Length: 2117, dtype: int64
**************************************************
2.0     6908
3.0     3286
4.0     1226
1.0      788
5.0      524
6.0      273
7.0      102
8.0       64
9.0       43
10.0      13
12.0       7
13.0       3
11.0       3
16.0       2
27.0       1
40.0       1
15.0       1
14.0       1
18.0       1
Name: bath, dtype: int64
**************************************************
2.0    5113
1.0    4897
3.0    1672
0.0    1029
Name: balcony, dtype: int64
**************************************************
75.00     310
65.00     302
55.00     275
60.00     270
45.00     240
         ...
351.00      1
54.10       1
80.64       1
32.73       1
488.00      1
Name: price, Length: 1994, dtype: int64
**************************************************
Alandi Road            139
Kalyani Nagar          139
Mahatma Gandhi Road    139
Lulla Nagar            139
Laxmi Road             139
                      ...
Sadashiv Peth          138
Raviwar Peth           138
Rasta Peth             138
Ghorpadi               138
other                    1
Name: site_location, Length: 97, dtype: int64
**************************************************

In [7]:
# Removing the columns of society
df.drop(columns=['society','area_type','availability','balcony'],inplace=True)

In [8]:
df.describe()

               bath         price
count  13247.000000  13320.000000
mean       2.692610    112.565627
std        1.341458    148.971674
min        1.000000      8.000000
25%        2.000000     50.000000
50%        2.000000     72.000000
75%        3.000000    120.000000
max       40.000000   3600.000000

## Data Cleaning Process

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   size           13304 non-null  object
 1   total_sqft     13320 non-null  object
 2   bath           13247 non-null  float64
 3   price          13320 non-null  float64
 4   site_location  13319 non-null  object
dtypes: float64(2), object(3)
memory usage: 520.4+ KB

In [10]:
df.isnull().sum()

size             16
total_sqft        0
bath             73
price             0
site_location     1
dtype: int64

In [11]:
df['site_location'].value_counts()

Alandi Road            139
Kalyani Nagar          139
Mahatma Gandhi Road    139
Lulla Nagar            139
Laxmi Road             139
                      ...
Sadashiv Peth          138
Raviwar Peth           138
Rasta Peth             138
Ghorpadi               138
other                    1
Name: site_location, Length: 97, dtype: int64

In [12]:
df['site_location'] = df['site_location'].fillna('Sadashiv Peth ')

In [13]:
df['size'].value_counts()

2 BHK         5199
3 BHK         4310
4 Bedroom      826
4 BHK          591
3 Bedroom      547
1 BHK          538
2 Bedroom      329
5 Bedroom      297
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
11 Bedroom       2
10 BHK           2
14 BHK           1
13 BHK           1
12 Bedroom       1
27 BHK           1
43 Bedroom       1
16 BHK           1
19 BHK           1
18 Bedroom       1
Name: size, dtype: int64

In [14]:
df['size'] = df['size'].fillna('2 BHK')

In [15]:
df['bath'] = df['bath'].fillna(df['bath'].median())

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   size           13320 non-null  object
 1   total_sqft     13320 non-null  object
 2   bath           13320 non-null  float64
 3   price          13320 non-null  float64
 4   site_location  13320 non-null  object
dtypes: float64(2), object(3)
memory usage: 520.4+ KB

In [17]:
df['bhk'] = df['size'].str.split().str.get(0).astype(int)

In [18]:
df[df['bhk'] > 20]

            size total_sqft  bath  price  site_location  bhk
1718      27 BHK       8000  27.0  230.0  Uruli Devachi   27
4684  43 Bedroom       2400  40.0  660.0  Salunke Vihar   43

In [19]:
df['total_sqft'].unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [20]:
# Converting the range values to integer values and removing other types of error
def convertRange(x):
    
    temp = x.split('-')
    if len(temp) == 2:
        return (float(temp[0])+float(temp[1]))/2
    try:
        return float(x)
    except:
        return None

In [21]:
df['total_sqft'] = df['total_sqft'].apply(convertRange)

In [22]:
df

            size  total_sqft  bath   price         site_location  bhk
0          2 BHK      1056.0   2.0   39.07           Alandi Road    2
1      4 Bedroom      2600.0   5.0  120.00       Ambegaon Budruk    4
2          3 BHK      1440.0   2.0   62.00            Anandnagar    3
3          3 BHK      1521.0   3.0   95.00                 Aundh    3
4          2 BHK      1200.0   2.0   51.00            Aundh Road    2
...          ...         ...   ...     ...                   ...  ...
13315  5 Bedroom      3453.0   4.0  231.00                Pashan    5
13316      4 BHK      3600.0   5.0  400.00             Paud Road    4
13317      2 BHK      1141.0   2.0   60.00              Pirangut    2
13318      4 BHK      4689.0   4.0  488.00          Prabhat Road    4
13319      1 BHK       550.0   1.0   17.00  Pune Railway Station    1

[13320 rows x 6 columns]

### Price per square feet

In [23]:
df['price_per_sqft'] = (df['price']*100000)/df['total_sqft']

In [24]:
df.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  13274.000000  13320.000000  13320.000000  13320.000000    1.327400e+04
mean    1559.626694      2.688814    112.565627      2.802778    7.907501e+03
std     1238.405258      1.338754    148.971674      1.294496    1.064296e+05
min        1.000000      1.000000      8.000000      1.000000    2.678298e+02
25%     1100.000000      2.000000     50.000000      2.000000    4.266865e+03
50%     1276.000000      2.000000     72.000000      3.000000    5.434306e+03
75%     1680.000000      3.000000    120.000000      3.000000    7.311746e+03
max    52272.000000     40.000000   3600.000000     43.000000    1.200000e+07

In [25]:
df['site_location'] = df['site_location'].apply(lambda x : x.strip())

In [26]:
location_count = df['site_location'].value_counts()

In [27]:
location_count_less_10 = location_count[location_count <= 10]
location_count_less_10

other    1
Name: site_location, dtype: int64

In [28]:
df['site_location'] = df['site_location'].apply(lambda x : 'other' if x in location_count_less_10 else x)

In [29]:
df['site_location'].value_counts()

Alandi Road            139
Karve Nagar            139
Mangalwar peth         139
Mahatma Gandhi Road    139
Lulla Nagar            139
                      ...
Sahakar Nagar          138
Raviwar Peth           138
Rasta Peth             138
Ghorpadi               138
other                    1
Name: site_location, Length: 97, dtype: int64

# Outlier detection and removal

In [30]:
df.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  13274.000000  13320.000000  13320.000000  13320.000000    1.327400e+04
mean    1559.626694      2.688814    112.565627      2.802778    7.907501e+03
std     1238.405258      1.338754    148.971674      1.294496    1.064296e+05
min        1.000000      1.000000      8.000000      1.000000    2.678298e+02
25%     1100.000000      2.000000     50.000000      2.000000    4.266865e+03
50%     1276.000000      2.000000     72.000000      3.000000    5.434306e+03
75%     1680.000000      3.000000    120.000000      3.000000    7.311746e+03
max    52272.000000     40.000000   3600.000000     43.000000    1.200000e+07

In [31]:
(df['total_sqft']/df['bhk']).describe()

count    13274.000000
mean       575.074878
std        388.205175
min          0.250000
25%        473.333333
50%        552.500000
75%        625.000000
max      26136.000000
dtype: float64

In [32]:
df = df[((df['total_sqft']/df['bhk']) >= 300)]

In [33]:
df.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  12530.000000  12530.000000  12530.000000  12530.000000    12530.000000
mean    1594.564544      2.559537    111.382401      2.650838     6303.979357
std     1261.271296      1.077938    152.077329      0.976678     4162.237981
min      300.000000      1.000000      8.440000      1.000000      267.829813
25%     1116.000000      2.000000     49.000000      2.000000     4210.526316
50%     1300.000000      2.000000     70.000000      3.000000     5294.117647
75%     1700.000000      3.000000    115.000000      3.000000     6916.666667
max    52272.000000     16.000000   3600.000000     16.000000   176470.588235

In [34]:
df.shape

(12530, 7)

In [35]:
def remove_outliers_sqft(data):
    df_output = pd.DataFrame() 
    for key, subdf in data.groupby('site_location'):
        m = np.mean(subdf.price_per_sqft)
    
        st = np.std(subdf.price_per_sqft)
    
        gen_df = subdf[(subdf.price_per_sqft > (m-st)) & (subdf.price_per_sqft <= (m+st))]
        df_output = pd. concat ([df_output, gen_df], ignore_index =True) 
    return df_output

In [36]:
df = remove_outliers_sqft(df)
df.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  10946.000000  10946.000000  10946.000000  10946.000000    10946.000000
mean    1491.685042      2.456879     83.924079      2.565777     5381.333751
std      854.299518      0.961960     66.182679      0.895302     1606.407485
min      300.000000      1.000000     10.000000      1.000000     1379.310345
25%     1105.000000      2.000000     48.000000      2.000000     4186.046512
50%     1278.000000      2.000000     65.000000      2.000000     5107.943007
75%     1629.750000      3.000000     95.960000      3.000000     6333.333333
max    30400.000000     16.000000   2100.000000     16.000000    17548.524329

In [37]:
df

            size  total_sqft  bath   price site_location  bhk  price_per_sqft
0          2 BHK      1056.0   2.0   39.07   Alandi Road    2     3699.810606
1      4 Bedroom      2894.0   4.0  245.00   Alandi Road    4     8465.791292
2          2 BHK      1084.0   2.0   50.00   Alandi Road    2     4612.546125
3          2 BHK      1230.0   2.0   80.00   Alandi Road    2     6504.065041
4          3 BHK      1750.0   3.0  130.00   Alandi Road    3     7428.571429
...          ...         ...   ...     ...           ...  ...             ...
10941      2 BHK      1050.0   2.0   54.00      Yerawada    2     5142.857143
10942      2 BHK       970.0   2.0   45.00      Yerawada    2     4639.175258
10943      2 BHK      1140.0   2.0   57.00      Yerawada    2     5000.000000
10944      3 BHK      1464.0   3.0   56.00      Yerawada    3     3825.136612
10945      2 BHK      1132.0   2.0   70.00      Yerawada    2     6183.745583

[10946 rows x 7 columns]

In [38]:
for location, location_df in df.groupby('site_location'):
    print(location,location_df)

Alandi Road           size  total_sqft  bath   price site_location  bhk  price_per_sqft
0        2 BHK      1056.0   2.0   39.07   Alandi Road    2     3699.810606
1    4 Bedroom      2894.0   4.0  245.00   Alandi Road    4     8465.791292
2        2 BHK      1084.0   2.0   50.00   Alandi Road    2     4612.546125
3        2 BHK      1230.0   2.0   80.00   Alandi Road    2     6504.065041
4        3 BHK      1750.0   3.0  130.00   Alandi Road    3     7428.571429
..         ...         ...   ...     ...           ...  ...             ...
111      3 BHK       925.0   2.0   49.82   Alandi Road    3     5385.945946
112      3 BHK      1255.0   3.0   90.00   Alandi Road    3     7171.314741
113      2 BHK      1200.0   2.0   45.00   Alandi Road    2     3750.000000
114      3 BHK      1975.0   3.0   90.00   Alandi Road    3     4556.962025
115  2 Bedroom      1200.0   2.0   75.00   Alandi Road    2     6250.000000

[116 rows x 7 columns]
Ambegaon Budruk           size  total_sqft  bath   price    site_location  bhk  price_per_sqft
116  4 Bedroom      2600.0   5.0  120.00  Ambegaon Budruk    4     4615.384615
117      3 BHK      1330.0   2.0   48.00  Ambegaon Budruk    3     3609.022556
118      2 BHK       950.0   2.0   40.00  Ambegaon Budruk    2     4210.526316
119  2 Bedroom      1200.0   2.0   65.00  Ambegaon Budruk    2     5416.666667
120      3 BHK      1180.0   2.0   78.34  Ambegaon Budruk    3     6638.983051
..         ...         ...   ...     ...              ...  ...             ...
222      2 BHK       925.0   2.0   35.00  Ambegaon Budruk    2     3783.783784
223      3 BHK      1516.0   3.0  147.00  Ambegaon Budruk    3     9696.569921
224      3 BHK      1790.0   3.0  120.00  Ambegaon Budruk    3     6703.910615
225      2 BHK      1112.0   2.0   58.00  Ambegaon Budruk    2     5215.827338
226      3 BHK      1490.0   3.0   85.00  Ambegaon Budruk    3     5704.697987

[111 rows x 7 columns]
Anandnagar           size  total_sqft  bath   price site_location  bhk  price_per_sqft
227      3 BHK      1440.0   2.0   62.00    Anandnagar    3     4305.555556
228      2 BHK      1200.0   2.0   65.00    Anandnagar    2     5416.666667
229      2 BHK      1200.0   2.0   60.00    Anandnagar    2     5000.000000
230      2 BHK      1017.0   2.0   51.25    Anandnagar    2     5039.331367
231      3 BHK      1629.0   3.0   79.00    Anandnagar    3     4849.600982
..         ...         ...   ...     ...           ...  ...             ...
339      3 BHK      1768.0   3.0   81.31    Anandnagar    3     4598.981900
340      2 BHK      1088.0   2.0   30.46    Anandnagar    2     2799.632353
341      2 BHK      1335.0   2.0   72.76    Anandnagar    2     5450.187266
342  2 Bedroom      1600.0   2.0   90.00    Anandnagar    2     5625.000000
343      4 BHK      1917.0   4.0  130.00    Anandnagar    4     6781.429317

[117 rows x 7 columns]
Aundh           size  total_sqft  bath   price site_location  bhk  price_per_sqft
344      3 BHK      1521.0   3.0   95.00         Aundh    3     6245.890861
345  3 Bedroom      1200.0   3.0   90.00         Aundh    3     7500.000000
346      2 BHK      1327.0   2.0   98.00         Aundh    2     7385.079126
347      2 BHK      1027.0   2.0   44.00         Aundh    2     4284.323272
348      3 BHK      1580.0   2.0  134.00         Aundh    3     8481.012658
..         ...         ...   ...     ...           ...  ...             ...
453      2 BHK      1050.0   2.0   44.41         Aundh    2     4229.523810
454      3 BHK      1810.0   3.0   97.83         Aundh    3     5404.972376
455      3 BHK      1674.0   3.0   81.00         Aundh    3     4838.709677
456      3 BHK      1648.0   3.0   85.00         Aundh    3     5157.766990
457      3 BHK      1703.0   3.0  120.00         Aundh    3     7046.388726

[114 rows x 7 columns]
Aundh Road           size  total_sqft  bath  price site_location  bhk  price_per_sqft
458      2 BHK      1200.0   2.0   51.0    Aundh Road    2     4250.000000
459      3 BHK      2502.0   3.0  138.0    Aundh Road    3     5515.587530
460      2 BHK      1186.0   2.0   58.0    Aundh Road    2     4890.387858
461      2 BHK      1069.0   2.0   45.0    Aundh Road    2     4209.541628
462      3 BHK      1826.0   3.0  121.0    Aundh Road    3     6626.506024
..         ...         ...   ...    ...           ...  ...             ...
566      3 BHK      2140.0   3.0  139.0    Aundh Road    3     6495.327103
567  2 Bedroom      1000.0   2.0   66.0    Aundh Road    2     6600.000000
568      2 BHK      1084.0   2.0   51.0    Aundh Road    2     4704.797048
569      2 BHK      1100.0   2.0   32.0    Aundh Road    2     2909.090909
570      2 BHK      1211.0   2.0   45.0    Aundh Road    2     3715.937242

[113 rows x 7 columns]
Balaji Nagar           size  total_sqft  bath   price site_location  bhk  price_per_sqft
571      2 BHK      1170.0   2.0   38.00  Balaji Nagar    2     3247.863248
572  3 Bedroom      1783.0   3.0  115.00  Balaji Nagar    3     6449.803702
573      2 BHK      1349.0   2.0   98.20  Balaji Nagar    2     7279.466271
574      2 BHK      1245.0   2.0   94.00  Balaji Nagar    2     7550.200803
575  1 Bedroom       540.0   1.0   36.00  Balaji Nagar    1     6666.666667
..         ...         ...   ...     ...           ...  ...             ...
674      2 BHK      1050.0   2.0   35.00  Balaji Nagar    2     3333.333333
675      3 BHK      1500.0   3.0   85.00  Balaji Nagar    3     5666.666667
676      3 BHK      1786.0   3.0   79.99  Balaji Nagar    3     4478.723404
677      1 BHK       509.0   1.0   23.00  Balaji Nagar    1     4518.664047
678      2 BHK      1310.0   2.0   53.00  Balaji Nagar    2     4045.801527

[108 rows x 7 columns]
Baner           size  total_sqft  bath   price site_location  bhk  price_per_sqft
679      4 BHK      2732.0   4.0  204.00         Baner    4     7467.057101
680  3 Bedroom      2400.0   2.0  150.00         Baner    3     6250.000000
681      3 BHK      1400.0   3.0   56.00         Baner    3     4000.000000
682      2 BHK      1005.0   2.0   50.00         Baner    2     4975.124378
683      2 BHK      1145.0   2.0   45.79         Baner    2     3999.126638
..         ...         ...   ...     ...           ...  ...             ...
780      2 BHK      1150.0   2.0   70.00         Baner    2     6086.956522
781      2 BHK      1175.0   2.0   50.00         Baner    2     4255.319149
782      3 BHK      1328.0   2.0   56.00         Baner    3     4216.867470
783      3 BHK      2265.0   3.0  159.00         Baner    3     7019.867550
784      2 BHK      1146.0   2.0   69.00         Baner    2     6020.942408

[106 rows x 7 columns]
Baner road       size  total_sqft  bath  price site_location  bhk  price_per_sqft
785  2 BHK      1007.0   2.0   43.0    Baner road    2     4270.109235
786  2 BHK       980.0   2.0   48.0    Baner road    2     4897.959184
787  2 BHK      1417.0   2.0   75.0    Baner road    2     5292.872265
788  2 BHK       825.0   2.0   33.0    Baner road    2     4000.000000
789  2 BHK      1208.0   2.0   49.0    Baner road    2     4056.291391
..     ...         ...   ...    ...           ...  ...             ...
894  2 BHK      1194.0   2.0   65.0    Baner road    2     5443.886097
895  3 BHK      1485.0   2.0   90.0    Baner road    3     6060.606061
896  2 BHK      1035.0   2.0   47.0    Baner road    2     4541.062802
897  2 BHK      1200.0   2.0   46.0    Baner road    2     3833.333333
898  2 BHK      1041.0   2.0   53.0    Baner road    2     5091.258405

[114 rows x 7 columns]
Bhandarkar Road            size  total_sqft  bath   price    site_location  bhk  \
899       3 BHK      1310.0   3.0   63.25  Bhandarkar Road    3
900       2 BHK      1200.0   2.0   50.00  Bhandarkar Road    2
901       2 BHK      1285.0   2.0   82.00  Bhandarkar Road    2
902   3 Bedroom      1475.0   3.0   98.00  Bhandarkar Road    3
903       3 BHK      1693.0   3.0  108.00  Bhandarkar Road    3
...         ...         ...   ...     ...              ...  ...
1016      1 BHK       645.0   1.0   16.45  Bhandarkar Road    1
1017      3 BHK      1500.0   2.0   58.00  Bhandarkar Road    3
1018      3 BHK      1564.0   3.0  103.00  Bhandarkar Road    3
1019      1 BHK       530.0   1.0   18.00  Bhandarkar Road    1
1020      3 BHK      1453.0   2.0   58.00  Bhandarkar Road    3

      price_per_sqft
899      4828.244275
900      4166.666667
901      6381.322957
902      6644.067797
903      6379.208506
...              ...
1016     2550.387597
1017     3866.666667
1018     6585.677749
1019     3396.226415
1020     3991.741225

[122 rows x 7 columns]
Bhavani Peth        size  total_sqft  bath   price site_location  bhk  price_per_sqft
1021  2 BHK      966.00   2.0   49.90  Bhavani Peth    2     5165.631470
1022  3 BHK      912.00   2.0   70.00  Bhavani Peth    3     7675.438596
1023  2 BHK      950.00   2.0   47.00  Bhavani Peth    2     4947.368421
1024  2 BHK     1113.27   2.0   53.00  Bhavani Peth    2     4760.749863
1025  3 BHK     1753.00   3.0  120.00  Bhavani Peth    3     6845.407872
...     ...         ...   ...     ...           ...  ...             ...
1138  2 BHK     1210.00   2.0   69.00  Bhavani Peth    2     5702.479339
1139  2 BHK     1100.00   2.0   85.00  Bhavani Peth    2     7727.272727
1140  2 BHK     1334.00   2.0   67.76  Bhavani Peth    2     5079.460270
1141  2 BHK     1010.00   2.0   41.00  Bhavani Peth    2     4059.405941
1142  1 BHK      877.00   1.0   59.00  Bhavani Peth    1     6727.480046

[122 rows x 7 columns]
Bibvewadi        size  total_sqft  bath  price site_location  bhk  price_per_sqft
1143  3 BHK      1800.0   2.0   70.0     Bibvewadi    3     3888.888889
1144  3 BHK      1630.0   2.0   98.0     Bibvewadi    3     6012.269939
1145  2 BHK      1225.0   2.0   47.6     Bibvewadi    2     3885.714286
1146  4 BHK      2000.0   4.0  120.0     Bibvewadi    4     6000.000000
1147  2 BHK      1460.0   2.0   58.0     Bibvewadi    2     3972.602740
...     ...         ...   ...    ...           ...  ...             ...
1257  2 BHK      1354.0   2.0   71.0     Bibvewadi    2     5243.722304
1258  3 BHK      1660.0   3.0  110.0     Bibvewadi    3     6626.506024
1259  3 BHK      1360.0   2.0   73.0     Bibvewadi    3     5367.647059
1260  2 BHK      1150.0   2.0   45.0     Bibvewadi    2     3913.043478
1261  3 BHK      1477.0   2.0   69.5     Bibvewadi    3     4705.484089

[119 rows x 7 columns]
Bopodi        size  total_sqft  bath   price site_location  bhk  price_per_sqft
1262  2 BHK      1075.0   2.0   53.00        Bopodi    2     4930.232558
1263  2 BHK      1050.0   2.0   32.00        Bopodi    2     3047.619048
1264  2 BHK      1253.0   2.0  102.00        Bopodi    2     8140.462889
1265  3 BHK      1875.0   3.0  165.00        Bopodi    3     8800.000000
1266  3 BHK      1975.0   3.0  150.00        Bopodi    3     7594.936709
...     ...         ...   ...     ...           ...  ...             ...
1376  2 BHK      1410.0   2.0  125.00        Bopodi    2     8865.248227
1377  2 BHK       900.0   2.0   75.00        Bopodi    2     8333.333333
1378  3 BHK      1365.0   3.0   53.96        Bopodi    3     3953.113553
1379  2 BHK      1340.0   2.0   75.00        Bopodi    2     5597.014925
1380  2 BHK      1420.0   2.0  120.00        Bopodi    2     8450.704225

[119 rows x 7 columns]
Budhwar Peth            size  total_sqft  bath   price site_location  bhk  price_per_sqft
1381      2 BHK      1000.0   2.0   38.00  Budhwar Peth    2     3800.000000
1382      2 BHK       782.0   2.0   55.68  Budhwar Peth    2     7120.204604
1383      3 BHK      1260.0   2.0   54.00  Budhwar Peth    3     4285.714286
1384      4 BHK      1863.0   3.0  104.00  Budhwar Peth    4     5582.393988
1385      2 BHK      1260.0   2.0   55.00  Budhwar Peth    2     4365.079365
...         ...         ...   ...     ...           ...  ...             ...
1491      2 BHK      1100.0   2.0   90.00  Budhwar Peth    2     8181.818182
1492  3 Bedroom      1200.0   3.0   75.00  Budhwar Peth    3     6250.000000
1493      2 BHK      1305.0   2.0   67.00  Budhwar Peth    2     5134.099617
1494      2 BHK      1115.0   2.0   50.00  Budhwar Peth    2     4484.304933
1495      3 BHK      1850.0   3.0   98.00  Budhwar Peth    3     5297.297297

[115 rows x 7 columns]
Bund Garden Road        size  total_sqft  bath   price     site_location  bhk  price_per_sqft
1496  2 BHK      1100.0   2.0   40.00  Bund Garden Road    2     3636.363636
1497  2 BHK      1260.0   2.0   66.78  Bund Garden Road    2     5300.000000
1498  3 BHK      1282.0   2.0   48.70  Bund Garden Road    3     3798.751950
1499  2 BHK      1010.0   2.0   29.50  Bund Garden Road    2     2920.792079
1500  2 BHK      1150.0   3.0   52.50  Bund Garden Road    2     4565.217391
...     ...         ...   ...     ...               ...  ...             ...
1601  3 BHK      1740.0   2.0  137.00  Bund Garden Road    3     7873.563218
1602  6 BHK      1800.0   6.0  101.00  Bund Garden Road    6     5611.111111
1603  2 BHK      1031.0   2.0   54.48  Bund Garden Road    2     5284.190107
1604  2 BHK      1020.0   2.0   42.48  Bund Garden Road    2     4164.705882
1605  2 BHK       907.0   2.0   40.00  Bund Garden Road    2     4410.143330

[110 rows x 7 columns]
Camp            size  total_sqft  bath   price site_location  bhk  price_per_sqft
1606  3 Bedroom      2250.0   3.0  148.00          Camp    3     6577.777778
1607      3 BHK      1800.0   3.0  120.00          Camp    3     6666.666667
1608      3 BHK      1909.0   3.0   88.00          Camp    3     4609.743321
1609      3 BHK      1425.0   2.0   70.00          Camp    3     4912.280702
1610      2 BHK      1656.0   2.0  120.00          Camp    2     7246.376812
...         ...         ...   ...     ...           ...  ...             ...
1708      3 BHK      1920.0   3.0  130.00          Camp    3     6770.833333
1709      2 BHK      1206.0   2.0   53.00          Camp    2     4394.693201
1710      2 BHK       955.0   2.0   38.19          Camp    2     3998.952880
1711      3 BHK      1369.0   2.0   72.00          Camp    3     5259.313367
1712      3 BHK      1380.0   2.0   55.00          Camp    3     3985.507246

[107 rows x 7 columns]
Chandan Nagar        size  total_sqft  bath   price  site_location  bhk  price_per_sqft
1713  2 BHK      1175.0   2.0   73.50  Chandan Nagar    2     6255.319149
1714  3 BHK      1413.0   2.0   75.00  Chandan Nagar    3     5307.855626
1715  2 BHK      1359.0   2.0   87.00  Chandan Nagar    2     6401.766004
1716  3 BHK      1450.0   3.0  100.00  Chandan Nagar    3     6896.551724
1717  3 BHK      1208.0   3.0   45.00  Chandan Nagar    3     3725.165563
...     ...         ...   ...     ...            ...  ...             ...
1822  2 BHK       985.0   2.0   50.17  Chandan Nagar    2     5093.401015
1823  2 BHK       883.0   2.0   49.00  Chandan Nagar    2     5549.263873
1824  2 BHK      1040.0   2.0   36.40  Chandan Nagar    2     3500.000000
1825  2 BHK      1240.0   2.0   41.00  Chandan Nagar    2     3306.451613
1826  2 BHK      1095.0   2.0   57.00  Chandan Nagar    2     5205.479452

[114 rows x 7 columns]
Dapodi            size  total_sqft  bath    price site_location  bhk  price_per_sqft
1827      3 BHK      1180.0   3.0   48.000        Dapodi    3     4067.796610
1828      2 BHK      1116.0   2.0   51.910        Dapodi    2     4651.433692
1829      2 BHK      1207.0   2.0   43.500        Dapodi    2     3603.976802
1830      3 BHK      1847.0   3.0  105.000        Dapodi    3     5684.894423
1831      3 BHK      1910.0   3.0  161.000        Dapodi    3     8429.319372
...         ...         ...   ...      ...           ...  ...             ...
1938  2 Bedroom      1200.0   2.0   36.000        Dapodi    2     3000.000000
1939      2 BHK      1150.0   2.0   55.000        Dapodi    2     4782.608696
1940  7 Bedroom      2800.0   6.0  110.000        Dapodi    7     3928.571429
1941      3 BHK      1600.0   2.0   65.000        Dapodi    3     4062.500000
1942      2 BHK      1258.5   2.0   59.135        Dapodi    2     4698.847835

[116 rows x 7 columns]
Deccan Gymkhana            size  total_sqft  bath   price    site_location  bhk  \
1943      3 BHK      1540.0   3.0   60.00  Deccan Gymkhana    3
1944      2 BHK      1100.0   2.0   45.00  Deccan Gymkhana    2
1945      4 BHK      3252.0   4.0  230.00  Deccan Gymkhana    4
1946      2 BHK       950.0   2.0   32.00  Deccan Gymkhana    2
1947      1 BHK       416.0   1.0   18.50  Deccan Gymkhana    1
...         ...         ...   ...     ...              ...  ...
2051      2 BHK      1100.0   2.0   65.00  Deccan Gymkhana    2
2052      3 BHK      1404.0   2.0   56.15  Deccan Gymkhana    3
2053      2 BHK      1418.0   2.0   62.00  Deccan Gymkhana    2
2054  6 Bedroom      1800.0   5.0  140.00  Deccan Gymkhana    6
2055      3 BHK      1665.0   3.0   71.58  Deccan Gymkhana    3

      price_per_sqft
1943     3896.103896
1944     4090.909091
1945     7072.570726
1946     3368.421053
1947     4447.115385
...              ...
2051     5909.090909
2052     3999.287749
2053     4372.355430
2054     7777.777778
2055     4299.099099

[113 rows x 7 columns]
Dehu Road            size  total_sqft  bath  price site_location  bhk  price_per_sqft
2056  4 Bedroom      3700.0   4.0  225.0     Dehu Road    4     6081.081081
2057      1 BHK       525.0   1.0   26.0     Dehu Road    1     4952.380952
2058  2 Bedroom      1200.0   2.0   65.0     Dehu Road    2     5416.666667
2059      3 BHK      1075.0   2.0   36.0     Dehu Road    3     3348.837209
2060      2 BHK      1100.0   2.0   98.0     Dehu Road    2     8909.090909
...         ...         ...   ...    ...           ...  ...             ...
2162      3 BHK      1100.0   2.0   45.0     Dehu Road    3     4090.909091
2163      3 BHK      1340.0   2.0   47.0     Dehu Road    3     3507.462687
2164      2 BHK      1200.0   2.0   46.0     Dehu Road    2     3833.333333
2165      4 BHK      3596.0   5.0  251.0     Dehu Road    4     6979.977753
2166      2 BHK      1245.0   2.0   60.0     Dehu Road    2     4819.277108

[111 rows x 7 columns]
Dhankawadi            size  total_sqft  bath   price site_location  bhk  price_per_sqft
2167      2 BHK      1100.0   2.0   48.00    Dhankawadi    2     4363.636364
2168  3 Bedroom      2497.0   3.0  140.00    Dhankawadi    3     5606.728074
2169      3 BHK      1595.0   3.0   65.00    Dhankawadi    3     4075.235110
2170      3 BHK      1665.0   3.0   95.00    Dhankawadi    3     5705.705706
2171      2 BHK      1040.0   2.0   48.50    Dhankawadi    2     4663.461538
...         ...         ...   ...     ...           ...  ...             ...
2282      3 BHK      1583.0   3.0   95.23    Dhankawadi    3     6015.792798
2283      3 BHK      1850.0   3.0  110.00    Dhankawadi    3     5945.945946
2284      2 BHK      1267.0   3.0   78.00    Dhankawadi    2     6156.274665
2285      3 BHK      1464.0   3.0   56.00    Dhankawadi    3     3825.136612
2286      4 BHK      3360.0   5.0  221.00    Dhankawadi    4     6577.380952

[120 rows x 7 columns]
Dhayari Phata            size  total_sqft  bath  price  site_location  bhk  price_per_sqft
2287      3 BHK      1540.0   2.0   64.0  Dhayari Phata    3     4155.844156
2288      3 BHK      1798.0   3.0   89.0  Dhayari Phata    3     4949.944383
2289      4 BHK      1664.0   4.0   65.0  Dhayari Phata    4     3906.250000
2290      2 BHK      1175.0   2.0   82.0  Dhayari Phata    2     6978.723404
2291  2 Bedroom       720.0   2.0   45.0  Dhayari Phata    2     6250.000000
...         ...         ...   ...    ...            ...  ...             ...
2398      2 BHK      1246.0   2.0   67.4  Dhayari Phata    2     5409.309791
2399  4 Bedroom      3385.0   4.0  220.0  Dhayari Phata    4     6499.261448
2400      3 BHK      1510.0   2.0  110.0  Dhayari Phata    3     7284.768212
2401      2 BHK      1020.0   2.0   39.0  Dhayari Phata    2     3823.529412
2402      2 BHK      1295.0   2.0   62.0  Dhayari Phata    2     4787.644788


Jangali Maharaj Road            size  total_sqft  bath  price         site_location  bhk  \
3950      2 BHK       700.0   2.0   36.0  Jangali Maharaj Road    2
3951  3 Bedroom      1600.0   3.0   75.0  Jangali Maharaj Road    3
3952  2 Bedroom      1500.0   2.0  115.0  Jangali Maharaj Road    2
3953      4 BHK      1600.0   4.0   80.0  Jangali Maharaj Road    4
3954      2 BHK      1200.0   2.0   55.0  Jangali Maharaj Road    2
...         ...         ...   ...    ...                   ...  ...
4051      2 BHK      1100.0   2.0   39.9  Jangali Maharaj Road    2
4052      2 BHK       800.0   2.0   32.0  Jangali Maharaj Road    2
4053      2 BHK      1107.0   2.0   44.0  Jangali Maharaj Road    2
4054      3 BHK      1700.0   3.0  111.0  Jangali Maharaj Road    3
4055      2 BHK       970.0   2.0   57.0  Jangali Maharaj Road    2

      price_per_sqft
3950     5142.857143
3951     4687.500000
3952     7666.666667
3953     5000.000000
3954     4583.333333
...              ...
4051     3627.272727
4052     4000.000000
4053     3974.706414
4054     6529.411765
4055     5876.288660

[106 rows x 7 columns]
Kalyani Nagar            size  total_sqft  bath   price  site_location  bhk  price_per_sqft
4056      2 BHK      1070.0   2.0   45.50  Kalyani Nagar    2     4252.336449
4057      3 BHK      1900.0   3.0  119.00  Kalyani Nagar    3     6263.157895
4058  2 Bedroom      1200.0   2.0   60.00  Kalyani Nagar    2     5000.000000
4059      4 BHK      2805.0   5.0  154.00  Kalyani Nagar    4     5490.196078
4060      2 BHK      1075.0   2.0   45.80  Kalyani Nagar    2     4260.465116
...         ...         ...   ...     ...            ...  ...             ...
4160      3 BHK       980.0   2.0   60.00  Kalyani Nagar    3     6122.448980
4161      2 BHK      1360.0   2.0   78.19  Kalyani Nagar    2     5749.264706
4162      2 BHK      1346.0   2.0   74.03  Kalyani Nagar    2     5500.000000
4163      3 BHK      2099.0   3.0  134.00  Kalyani Nagar    3     6383.992377
4164      2 BHK      1353.0   2.0  110.00  Kalyani Nagar    2     8130.081301

[109 rows x 7 columns]
Karve Nagar        size  total_sqft  bath   price site_location  bhk  price_per_sqft
4165  3 BHK      1724.0   3.0  125.00   Karve Nagar    3     7250.580046
4166  2 BHK       805.0   2.0   22.14   Karve Nagar    2     2750.310559
4167  3 BHK      1991.0   4.0  103.00   Karve Nagar    3     5173.279759
4168  3 BHK      1584.0   3.0   65.00   Karve Nagar    3     4103.535354
4169  2 BHK      1140.0   2.0   40.00   Karve Nagar    2     3508.771930
...     ...         ...   ...     ...           ...  ...             ...
4270  3 BHK      1830.0   3.0  121.00   Karve Nagar    3     6612.021858
4271  2 BHK      1215.0   2.0   65.00   Karve Nagar    2     5349.794239
4272  2 BHK       625.0   1.0   25.00   Karve Nagar    2     4000.000000
4273  2 BHK      1181.0   2.0   55.00   Karve Nagar    2     4657.070279
4274  3 BHK      1405.0   2.0   85.00   Karve Nagar    3     6049.822064

[110 rows x 7 columns]
Karve Road        size  total_sqft  bath   price site_location  bhk  price_per_sqft
4275  3 BHK      1290.0   2.0   56.12    Karve Road    3     4350.387597
4276  3 BHK      1535.0   3.0   83.00    Karve Road    3     5407.166124
4277  2 BHK      1153.0   2.0   56.40    Karve Road    2     4891.587164
4278  3 BHK      1464.0   3.0   56.00    Karve Road    3     3825.136612
4279  2 BHK      1060.0   2.0   26.50    Karve Road    2     2500.000000
...     ...         ...   ...     ...           ...  ...             ...
4385  2 BHK       911.0   2.0   26.50    Karve Road    2     2908.891328
4386  2 BHK      1701.0   2.0  145.00    Karve Road    2     8524.397413
4387  4 BHK      6652.0   6.0  660.00    Karve Road    4     9921.828022
4388  3 BHK      1520.0   2.0   69.76    Karve Road    3     4589.473684
4389  2 BHK      1285.0   2.0   90.00    Karve Road    2     7003.891051

[115 rows x 7 columns]
Kasba Peth            size  total_sqft  bath  price site_location  bhk  price_per_sqft
4390      2 BHK      1143.0   2.0   45.0    Kasba Peth    2     3937.007874
4391      2 BHK       950.0   2.0   57.0    Kasba Peth    2     6000.000000
4392      2 BHK      1148.0   2.0   60.0    Kasba Peth    2     5226.480836
4393      2 BHK      1200.0   2.0   55.0    Kasba Peth    2     4583.333333
4394      2 BHK      1105.0   2.0   75.0    Kasba Peth    2     6787.330317
...         ...         ...   ...    ...           ...  ...             ...
4497      3 BHK      1535.0   3.0   90.0    Kasba Peth    3     5863.192182
4498  3 Bedroom      1350.0   1.0  120.0    Kasba Peth    3     8888.888889
4499      2 BHK      1307.0   2.0   59.0    Kasba Peth    2     4514.154552
4500      3 BHK      1490.0   3.0  140.0    Kasba Peth    3     9395.973154
4501      2 BHK      1050.0   2.0   42.0    Kasba Peth    2     4000.000000

[112 rows x 7 columns]
Katraj        size  total_sqft  bath  price site_location  bhk  price_per_sqft
4502  2 BHK      1296.0   2.0  81.00        Katraj    2     6250.000000
4503  2 BHK      1360.0   2.0  65.00        Katraj    2     4779.411765
4504  2 BHK      1110.0   2.0  55.00        Katraj    2     4954.954955
4505  2 BHK      1200.0   2.0  52.00        Katraj    2     4333.333333
4506  2 BHK       985.0   2.0  67.00        Katraj    2     6802.030457
...     ...         ...   ...    ...           ...  ...             ...
4615  2 BHK      1044.0   2.0  55.00        Katraj    2     5268.199234
4616  2 BHK      1016.0   2.0  39.95        Katraj    2     3932.086614
4617  3 BHK      1215.0   2.0  49.86        Katraj    3     4103.703704
4618  2 BHK      1000.0   2.0  50.00        Katraj    2     5000.000000
4619  2 BHK      1349.0   2.0  96.80        Katraj    2     7175.685693

[118 rows x 7 columns]
Khadaki        size  total_sqft  bath    price site_location  bhk  price_per_sqft
4620  3 BHK      1254.0   3.0   38.000       Khadaki    3     3030.303030
4621  2 BHK      1073.5   2.0   54.005       Khadaki    2     5030.740568
4622  2 BHK      1100.0   2.0   42.000       Khadaki    2     3818.181818
4623  3 BHK      1150.0   2.0   55.000       Khadaki    3     4782.608696
4624  2 BHK      1353.0   2.0  110.000       Khadaki    2     8130.081301
...     ...         ...   ...      ...           ...  ...             ...
4725  3 BHK      1426.0   3.0   85.000       Khadaki    3     5960.729313
4726  3 BHK      1500.0   2.0   70.000       Khadaki    3     4666.666667
4727  3 BHK      1500.0   3.0   90.000       Khadaki    3     6000.000000
4728  2 BHK      1180.0   2.0   80.000       Khadaki    2     6779.661017
4729  2 BHK      1291.0   2.0   72.300       Khadaki    2     5600.309837

[110 rows x 7 columns]
Khadki            size  total_sqft  bath  price site_location  bhk  price_per_sqft
4730      1 BHK       600.0   1.0   38.0        Khadki    1     6333.333333
4731      3 BHK      1280.0   3.0   50.4        Khadki    3     3937.500000
4732      2 BHK      1290.0   2.0  110.0        Khadki    2     8527.131783
4733      3 BHK      1645.0   3.0   95.0        Khadki    3     5775.075988
4734      3 BHK      1590.0   3.0   79.0        Khadki    3     4968.553459
...         ...         ...   ...    ...           ...  ...             ...
4843      2 BHK      1588.0   2.0   58.0        Khadki    2     3652.392947
4844      2 BHK       900.0   2.0   45.0        Khadki    2     5000.000000
4845  1 Bedroom       600.0   1.0   55.0        Khadki    1     9166.666667
4846      2 BHK      1339.0   2.0   67.0        Khadki    2     5003.734130
4847  1 Bedroom       812.0   1.0   26.0        Khadki    1     3201.970443

[118 rows x 7 columns]
Kharadi            size  total_sqft  bath   price site_location  bhk  price_per_sqft
4848  1 Bedroom       660.0   1.0   48.00       Kharadi    1     7272.727273
4849      3 BHK      1260.0   2.0   85.05       Kharadi    3     6750.000000
4850      3 BHK      1500.0   2.0   65.00       Kharadi    3     4333.333333
4851      2 BHK      1000.0   2.0   67.00       Kharadi    2     6700.000000
4852      2 BHK      1120.0   2.0   55.00       Kharadi    2     4910.714286
...         ...         ...   ...     ...           ...  ...             ...
4959      2 BHK      1246.0   2.0   65.00       Kharadi    2     5216.693419
4960      3 BHK      1694.0   3.0  125.00       Kharadi    3     7378.984652
4961      2 BHK      1115.0   2.0   50.00       Kharadi    2     4484.304933
4962      2 BHK      1330.0   2.0   56.00       Kharadi    2     4210.526316
4963      3 BHK      1440.0   2.0   63.93       Kharadi    3     4439.583333

[116 rows x 7 columns]
Kondhwa            size  total_sqft  bath   price site_location  bhk  price_per_sqft
4964      2 BHK     1330.74   2.0   91.79       Kondhwa    2     6897.665960
4965  8 Bedroom     5000.00   8.0  250.00       Kondhwa    8     5000.000000
4966      2 BHK     1080.00   2.0   39.00       Kondhwa    2     3611.111111
4967  4 Bedroom     2650.00   4.0  198.00       Kondhwa    4     7471.698113
4968      2 BHK     1069.00   2.0   55.00       Kondhwa    2     5144.995323
...         ...         ...   ...     ...           ...  ...             ...
5080      2 BHK      825.00   2.0   30.00       Kondhwa    2     3636.363636
5081  2 Bedroom      754.00   2.0   69.99       Kondhwa    2     9282.493369
5082      2 BHK      957.00   2.0   56.00       Kondhwa    2     5851.619645
5083      2 BHK     1025.00   2.0   43.04       Kondhwa    2     4199.024390
5084      4 BHK     2425.00   5.0  195.00       Kondhwa    4     8041.237113

[121 rows x 7 columns]
Kondhwa Budruk        size  total_sqft  bath   price   site_location  bhk  price_per_sqft
5085  5 BHK      3050.0   5.0  213.00  Kondhwa Budruk    5     6983.606557
5086  3 BHK      1933.0   3.0  129.00  Kondhwa Budruk    3     6673.564408
5087  2 BHK      1192.0   2.0   74.00  Kondhwa Budruk    2     6208.053691
5088  3 BHK      1933.0   3.0  140.00  Kondhwa Budruk    3     7242.628039
5089  2 BHK      1155.0   2.0   42.74  Kondhwa Budruk    2     3700.432900
...     ...         ...   ...     ...             ...  ...             ...
5200  2 BHK      1140.0   2.0   33.06  Kondhwa Budruk    2     2900.000000
5201  2 BHK      1200.0   2.0   34.65  Kondhwa Budruk    2     2887.500000
5202  3 BHK      1280.0   3.0   42.00  Kondhwa Budruk    3     3281.250000
5203  3 BHK      1910.0   3.0  131.00  Kondhwa Budruk    3     6858.638743
5204  4 BHK      2200.0   3.0   80.00  Kondhwa Budruk    4     3636.363636

[120 rows x 7 columns]
Kondhwa Khurd            size  total_sqft  bath   price  site_location  bhk  price_per_sqft
5205      2 BHK      970.00   2.0   33.00  Kondhwa Khurd    2     3402.061856
5206      3 BHK     1563.05   3.0  105.00  Kondhwa Khurd    3     6717.635392
5207  5 Bedroom     3500.00   5.0  150.00  Kondhwa Khurd    5     4285.714286
5208      3 BHK     2135.00   3.0  215.00  Kondhwa Khurd    3    10070.257611
5209      2 BHK     1194.00   2.0   69.00  Kondhwa Khurd    2     5778.894472
...         ...         ...   ...     ...            ...  ...             ...
5321      2 BHK      900.00   2.0   35.00  Kondhwa Khurd    2     3888.888889
5322      3 BHK     1495.00   2.0   52.33  Kondhwa Khurd    3     3500.334448
5323      2 BHK     1200.00   2.0   50.00  Kondhwa Khurd    2     4166.666667
5324      2 BHK     1650.00   1.0  130.00  Kondhwa Khurd    2     7878.787879
5325      3 BHK     1810.00   3.0  112.00  Kondhwa Khurd    3     6187.845304

[121 rows x 7 columns]
Koregaon Park        size  total_sqft  bath  price  site_location  bhk  price_per_sqft
5326  2 BHK      1459.0   2.0  94.82  Koregaon Park    2     6498.971899
5327  2 BHK      1000.0   2.0  60.00  Koregaon Park    2     6000.000000
5328  2 BHK      1060.0   2.0  60.00  Koregaon Park    2     5660.377358
5329  2 BHK      1173.0   2.0  58.00  Koregaon Park    2     4944.586530
5330  2 BHK      1150.0   2.0  69.00  Koregaon Park    2     6000.000000
...     ...         ...   ...    ...            ...  ...             ...
5443  2 BHK      1224.0   2.0  75.00  Koregaon Park    2     6127.450980
5444  2 BHK      1175.0   2.0  75.00  Koregaon Park    2     6382.978723
5445  2 BHK      1200.0   2.0  50.00  Koregaon Park    2     4166.666667
5446  2 BHK       845.0   2.0  34.00  Koregaon Park    2     4023.668639
5447  3 BHK      1500.0   2.0  70.00  Koregaon Park    3     4666.666667

[122 rows x 7 columns]
Kothrud        size  total_sqft  bath   price site_location  bhk  price_per_sqft
5448  2 BHK      1167.0   2.0   43.76       Kothrud    2     3749.785775
5449  1 BHK       645.0   1.0   16.45       Kothrud    1     2550.387597
5450  2 BHK      1020.0   2.0   45.00       Kothrud    2     4411.764706
5451  2 BHK      1240.0   2.0   47.12       Kothrud    2     3800.000000
5452  4 BHK      3000.0   4.0  120.00       Kothrud    4     4000.000000
...     ...         ...   ...     ...           ...  ...             ...
5559  1 BHK       580.0   1.0   45.00       Kothrud    1     7758.620690
5560  3 BHK      1500.0   2.0   64.50       Kothrud    3     4300.000000
5561  2 BHK      1349.0   2.0   98.00       Kothrud    2     7264.640474
5562  2 BHK      1125.0   2.0   44.75       Kothrud    2     3977.777778
5563  2 BHK      1060.0   2.0   52.00       Kothrud    2     4905.660377

[116 rows x 7 columns]
Law College Road            size  total_sqft  bath  price     site_location  bhk  \
5564      2 BHK       869.0   2.0   36.0  Law College Road    2
5565      7 BHK      4000.0   7.0  225.0  Law College Road    7
5566  8 Bedroom      2600.0   8.0  180.0  Law College Road    8
5567      4 BHK      3122.0   6.0  230.0  Law College Road    4
5568      2 BHK      1419.0   2.0   48.1  Law College Road    2
...         ...         ...   ...    ...               ...  ...
5664      3 BHK      2206.0   4.0  180.0  Law College Road    3
5665      2 BHK      1245.0   2.0   59.0  Law College Road    2
5666      2 BHK      1175.0   2.0   60.0  Law College Road    2
5667      2 BHK      1310.0   2.0   62.0  Law College Road    2
5668      2 BHK      1015.0   2.0   60.0  Law College Road    2

      price_per_sqft
5564     4142.692750
5565     5625.000000
5566     6923.076923
5567     7367.072389
5568     3389.711064
...              ...
5664     8159.564823
5665     4738.955823
5666     5106.382979
5667     4732.824427
5668     5911.330049

[105 rows x 7 columns]
Laxmi Road        size  total_sqft  bath   price site_location  bhk  price_per_sqft
5669  2 BHK      1270.0   2.0   50.00    Laxmi Road    2     3937.007874
5670  3 BHK      1828.0   3.0  110.00    Laxmi Road    3     6017.505470
5671  1 BHK       645.0   1.0   16.45    Laxmi Road    1     2550.387597
5672  3 BHK      1600.0   3.0   64.00    Laxmi Road    3     4000.000000
5673  2 BHK      1251.0   2.0   47.00    Laxmi Road    2     3756.994404
...     ...         ...   ...     ...           ...  ...             ...
5780  2 BHK      1181.0   2.0   61.00    Laxmi Road    2     5165.114310
5781  2 BHK      1025.0   2.0   44.00    Laxmi Road    2     4292.682927
5782  2 BHK      1150.0   2.0   40.25    Laxmi Road    2     3500.000000
5783  2 BHK      1096.0   2.0   40.00    Laxmi Road    2     3649.635036
5784  4 BHK      2856.0   5.0  154.50    Laxmi Road    4     5409.663866

[116 rows x 7 columns]
Lulla Nagar            size  total_sqft  bath   price site_location  bhk  price_per_sqft
5785      3 BHK      1670.0   3.0   99.00   Lulla Nagar    3     5928.143713
5786      2 BHK       890.0   2.0   35.00   Lulla Nagar    2     3932.584270
5787      3 BHK      1644.0   3.0   84.00   Lulla Nagar    3     5109.489051
5788  2 Bedroom      1200.0   2.0   79.00   Lulla Nagar    2     6583.333333
5789      2 BHK      1028.0   2.0   45.50   Lulla Nagar    2     4426.070039
...         ...         ...   ...     ...           ...  ...             ...
5896      3 BHK      1910.0   4.0  150.00   Lulla Nagar    3     7853.403141
5897      2 BHK      1309.0   2.0   69.50   Lulla Nagar    2     5309.396486
5898      3 BHK      1945.0   3.0  135.00   Lulla Nagar    3     6940.874036
5899      2 BHK       935.0   2.0   32.72   Lulla Nagar    2     3499.465241
5900      2 BHK       814.0   2.0   43.70   Lulla Nagar    2     5368.550369

[116 rows x 7 columns]
Mahatma Gandhi Road            size  total_sqft  bath   price        site_location  bhk  \
5901      3 BHK      2010.0   3.0   91.00  Mahatma Gandhi Road    3
5902      3 BHK      1612.0   3.0   46.74  Mahatma Gandhi Road    3
5903      2 BHK      1285.0   2.0   72.50  Mahatma Gandhi Road    2
5904      2 BHK      1230.0   2.0   48.00  Mahatma Gandhi Road    2
5905      3 BHK      1450.0   3.0   55.00  Mahatma Gandhi Road    3
...         ...         ...   ...     ...                  ...  ...
6009      3 BHK      1950.0   3.0  132.00  Mahatma Gandhi Road    3
6010  3 Bedroom      1400.0   3.0   63.00  Mahatma Gandhi Road    3
6011      3 BHK      1404.0   2.0   59.00  Mahatma Gandhi Road    3
6012  3 Bedroom      3500.0   3.0  275.00  Mahatma Gandhi Road    3
6013      3 BHK      1454.0   3.0   71.50  Mahatma Gandhi Road    3

      price_per_sqft
5901     4527.363184
5902     2899.503722
5903     5642.023346
5904     3902.439024
5905     3793.103448
...              ...
6009     6769.230769
6010     4500.000000
6011     4202.279202
6012     7857.142857
6013     4917.469051

[113 rows x 7 columns]
Mangalwar peth            size  total_sqft  bath   price   site_location  bhk  price_per_sqft
6014      2 BHK      1185.0   2.0   75.00  Mangalwar peth    2     6329.113924
6015  3 Bedroom      1200.0   3.0   90.00  Mangalwar peth    3     7500.000000
6016      2 BHK      1250.0   2.0   40.00  Mangalwar peth    2     3200.000000
6017      3 BHK      1630.0   3.0   68.29  Mangalwar peth    3     4189.570552
6018      3 BHK      1170.0   2.0   66.00  Mangalwar peth    3     5641.025641
...         ...         ...   ...     ...             ...  ...             ...
6131      3 BHK      1724.0   3.0  125.00  Mangalwar peth    3     7250.580046
6132      3 BHK      1348.0   2.0   80.50  Mangalwar peth    3     5971.810089
6133  4 Bedroom      2700.0   3.0  230.00  Mangalwar peth    4     8518.518519
6134      2 BHK      1140.0   2.0   44.00  Mangalwar peth    2     3859.649123
6135      2 BHK      1075.0   2.0   48.00  Mangalwar peth    2     4465.116279

[122 rows x 7 columns]
Manik Bagh            size  total_sqft  bath   price site_location  bhk  price_per_sqft
6136      3 BHK      1600.0   2.0   75.00    Manik Bagh    3     4687.500000
6137      3 BHK      1710.0   4.0   91.31    Manik Bagh    3     5339.766082
6138      2 BHK       910.0   2.0   40.00    Manik Bagh    2     4395.604396
6139      2 BHK      1325.0   2.0   76.00    Manik Bagh    2     5735.849057
6140      2 BHK       708.0   1.0   40.00    Manik Bagh    2     5649.717514
...         ...         ...   ...     ...           ...  ...             ...
6243  5 Bedroom      4144.0   5.0  331.00    Manik Bagh    5     7987.451737
6244      3 BHK      1622.0   3.0   95.00    Manik Bagh    3     5856.966708
6245      2 BHK      1100.0   2.0   55.00    Manik Bagh    2     5000.000000
6246      2 BHK      1203.0   2.0   60.00    Manik Bagh    2     4987.531172
6247      3 BHK      1480.0   2.0   75.00    Manik Bagh    3     5067.567568

[112 rows x 7 columns]
Market yard            size  total_sqft  bath   price site_location  bhk  price_per_sqft
6248      2 BHK      1200.0   2.0   44.00   Market yard    2     3666.666667
6249      2 BHK       957.0   2.0   58.00   Market yard    2     6060.606061
6250      3 BHK      1577.0   3.0   70.00   Market yard    3     4438.807863
6251      3 BHK      1850.0   3.0  150.00   Market yard    3     8108.108108
6252      3 BHK      1385.0   2.0   48.48   Market yard    3     3500.361011
...         ...         ...   ...     ...           ...  ...             ...
6353  4 Bedroom      1200.0   4.0   85.00   Market yard    4     7083.333333
6354      3 BHK      1800.0   3.0  130.00   Market yard    3     7222.222222

Sahakar Nagar        size  total_sqft  bath   price  site_location  bhk  price_per_sqft
8416  3 BHK     2089.00   3.0  140.00  Sahakar Nagar    3     6701.771182
8417  3 BHK     1464.00   3.0   46.00  Sahakar Nagar    3     3142.076503
8418  2 BHK      950.00   2.0   46.96  Sahakar Nagar    2     4943.157895
8419  2 BHK     1128.00   2.0   60.00  Sahakar Nagar    2     5319.148936
8420  2 BHK     1150.00   2.0   52.00  Sahakar Nagar    2     4521.739130
...     ...         ...   ...     ...            ...  ...             ...
8526  3 BHK     1932.47   3.0  183.00  Sahakar Nagar    3     9469.745973
8527  2 BHK     1100.00   2.0   50.00  Sahakar Nagar    2     4545.454545
8528  3 BHK     2100.00   3.0  190.00  Sahakar Nagar    3     9047.619048
8529  3 BHK     1330.00   3.0   46.56  Sahakar Nagar    3     3500.751880
8530  2 BHK     1140.00   2.0   39.00  Sahakar Nagar    2     3421.052632

[115 rows x 7 columns]
Salunke Vihar         size  total_sqft  bath   price  site_location  bhk  price_per_sqft
8531   2 BHK      1206.0   2.0   48.23  Salunke Vihar    2     3999.170813
8532   1 BHK       450.0   1.0   11.00  Salunke Vihar    1     2444.444444
8533   3 BHK      1866.0   2.0   61.58  Salunke Vihar    3     3300.107181
8534   1 BHK       500.0   1.0   18.50  Salunke Vihar    1     3700.000000
8535  11 BHK      5000.0   9.0  360.00  Salunke Vihar   11     7200.000000
...      ...         ...   ...     ...            ...  ...             ...
8639   1 BHK       654.0   1.0   49.00  Salunke Vihar    1     7492.354740
8640   2 BHK       925.0   2.0   68.00  Salunke Vihar    2     7351.351351
8641   2 BHK      1153.0   2.0   56.55  Salunke Vihar    2     4904.596704
8642   3 BHK      2086.0   3.0  160.00  Salunke Vihar    3     7670.182167
8643   3 BHK      1508.0   3.0   77.00  Salunke Vihar    3     5106.100796

[113 rows x 7 columns]
Sasson Road            size  total_sqft  bath   price site_location  bhk  price_per_sqft
8644      2 BHK      1150.0   2.0   40.00   Sasson Road    2     3478.260870
8645      2 BHK      1152.0   2.0   64.50   Sasson Road    2     5598.958333
8646      2 BHK       700.0   1.0   26.00   Sasson Road    2     3714.285714
8647      2 BHK      1075.0   2.0   52.00   Sasson Road    2     4837.209302
8648      3 BHK      2450.0   3.0  120.00   Sasson Road    3     4897.959184
...         ...         ...   ...     ...           ...  ...             ...
8762      2 BHK      1000.0   2.0   50.00   Sasson Road    2     5000.000000
8763      2 BHK      1165.0   2.0   51.42   Sasson Road    2     4413.733906
8764  3 Bedroom      1650.0   2.0  130.00   Sasson Road    3     7878.787879
8765  3 Bedroom      1800.0   3.0   84.00   Sasson Road    3     4666.666667
8766      3 BHK      2395.0   4.0  150.00   Sasson Road    3     6263.048017

[123 rows x 7 columns]
Satara Road        size  total_sqft  bath   price site_location  bhk  price_per_sqft
8767  3 BHK      2511.0   3.0  205.00   Satara Road    3     8164.078057
8768  3 BHK      1350.0   2.0   56.00   Satara Road    3     4148.148148
8769  3 BHK      1804.0   3.0  120.00   Satara Road    3     6651.884701
8770  3 BHK      1220.0   2.0   35.23   Satara Road    3     2887.704918
8771  1 BHK       525.0   1.0   27.25   Satara Road    1     5190.476190
...     ...         ...   ...     ...           ...  ...             ...
8875  2 BHK      1092.0   2.0   44.00   Satara Road    2     4029.304029
8876  3 BHK      1310.0   3.0   63.25   Satara Road    3     4828.244275
8877  2 BHK      1495.0   2.0   78.00   Satara Road    2     5217.391304
8878  4 BHK      2872.0   4.0  183.00   Satara Road    4     6371.866295
8879  3 BHK      1590.0   3.0   57.00   Satara Road    3     3584.905660

[113 rows x 7 columns]
Senapati Bapat Road        size  total_sqft  bath  price        site_location  bhk  price_per_sqft
8880  3 BHK      1550.0   3.0   65.0  Senapati Bapat Road    3     4193.548387
8881  2 BHK       913.0   2.0   32.0  Senapati Bapat Road    2     3504.928806
8882  2 BHK      1205.0   2.0   66.0  Senapati Bapat Road    2     5477.178423
8883  2 BHK       850.0   2.0   30.0  Senapati Bapat Road    2     3529.411765
8884  2 BHK       656.0   2.0   25.0  Senapati Bapat Road    2     3810.975610
...     ...         ...   ...    ...                  ...  ...             ...
8992  2 BHK      1160.0   2.0   42.0  Senapati Bapat Road    2     3620.689655
8993  2 BHK       890.0   2.0   37.0  Senapati Bapat Road    2     4157.303371
8994  3 BHK      1500.0   2.0   82.0  Senapati Bapat Road    3     5466.666667
8995  3 BHK      1486.0   2.0   65.0  Senapati Bapat Road    3     4374.158816
8996  3 BHK      2215.0   4.0  152.0  Senapati Bapat Road    3     6862.302483

[117 rows x 7 columns]
Shaniwar Peth            size  total_sqft  bath  price  site_location  bhk  price_per_sqft
8997  6 Bedroom      4400.0   6.0  250.0  Shaniwar Peth    6     5681.818182
8998  3 Bedroom      1500.0   3.0  100.0  Shaniwar Peth    3     6666.666667
8999      3 BHK      1868.0   3.0  131.0  Shaniwar Peth    3     7012.847966
9000      2 BHK      1075.0   2.0   60.0  Shaniwar Peth    2     5581.395349
9001      2 BHK      1020.0   2.0   63.0  Shaniwar Peth    2     6176.470588
...         ...         ...   ...    ...            ...  ...             ...
9110      2 BHK      1260.0   2.0  100.0  Shaniwar Peth    2     7936.507937
9111      3 BHK      1900.0   3.0   85.0  Shaniwar Peth    3     4473.684211
9112      2 BHK      1173.0   2.0   78.2  Shaniwar Peth    2     6666.666667
9113      3 BHK      1425.0   1.0   54.0  Shaniwar Peth    3     3789.473684
9114      3 BHK      1667.0   3.0  130.0  Shaniwar Peth    3     7798.440312

[118 rows x 7 columns]
Shivaji Nagar            size  total_sqft  bath   price  site_location  bhk  price_per_sqft
9115      3 BHK      1660.0   2.0  105.00  Shivaji Nagar    3     6325.301205
9116      2 BHK       883.0   2.0   45.00  Shivaji Nagar    2     5096.262741
9117      2 BHK       930.0   2.0   39.00  Shivaji Nagar    2     4193.548387
9118      2 BHK      1100.0   2.0   50.00  Shivaji Nagar    2     4545.454545
9119      2 BHK      1056.0   2.0   80.00  Shivaji Nagar    2     7575.757576
...         ...         ...   ...     ...            ...  ...             ...
9217  4 Bedroom      2100.0   3.0  147.00  Shivaji Nagar    4     7000.000000
9218      3 BHK      1250.0   3.0   54.00  Shivaji Nagar    3     4320.000000
9219      2 BHK      1215.0   2.0   43.75  Shivaji Nagar    2     3600.823045
9220      2 BHK      1190.0   2.0   55.00  Shivaji Nagar    2     4621.848739
9221      2 BHK      1270.0   2.0   52.00  Shivaji Nagar    2     4094.488189

[107 rows x 7 columns]
Shukrawar Peth            size  total_sqft  bath   price   site_location  bhk  price_per_sqft
9222  4 Bedroom      3203.5   2.0  224.50  Shukrawar Peth    4     7007.960044
9223  1 Bedroom       400.0   1.0   14.00  Shukrawar Peth    1     3500.000000
9224      2 BHK      1380.0   2.0   60.00  Shukrawar Peth    2     4347.826087
9225      1 BHK       595.0   1.0   33.32  Shukrawar Peth    1     5600.000000
9226      3 BHK      1641.0   3.0   66.00  Shukrawar Peth    3     4021.937843
...         ...         ...   ...     ...             ...  ...             ...
9335      3 BHK      2503.0   3.0  138.00  Shukrawar Peth    3     5513.383939
9336      2 BHK      1250.0   2.0   75.00  Shukrawar Peth    2     6000.000000
9337      2 BHK      1081.0   2.0   60.00  Shukrawar Peth    2     5550.416281
9338      2 BHK       750.0   2.0   19.50  Shukrawar Peth    2     2600.000000
9339      2 BHK      1530.0   2.0  108.00  Shukrawar Peth    2     7058.823529

[118 rows x 7 columns]
Sinhagad Road        size  total_sqft  bath   price  site_location  bhk  price_per_sqft
9340  2 BHK      1326.0   2.0   78.00  Sinhagad Road    2     5882.352941
9341  1 BHK       705.0   1.0   67.00  Sinhagad Road    1     9503.546099
9342  3 BHK      1664.0   2.0   73.95  Sinhagad Road    3     4444.110577
9343  4 BHK      2483.0   5.0  212.00  Sinhagad Road    4     8538.058800
9344  3 BHK      1760.0   2.0  130.00  Sinhagad Road    3     7386.363636
...     ...         ...   ...     ...            ...  ...             ...
9453  2 BHK      1075.0   2.0   60.00  Sinhagad Road    2     5581.395349
9454  3 BHK      1644.0   3.0   80.51  Sinhagad Road    3     4897.201946
9455  3 BHK      1600.0   2.0  140.00  Sinhagad Road    3     8750.000000
9456  2 BHK      1225.0   2.0   58.00  Sinhagad Road    2     4734.693878
9457  3 BHK      1730.0   3.0  125.00  Sinhagad Road    3     7225.433526

[118 rows x 7 columns]
Somwar Peth            size  total_sqft  bath  price site_location  bhk  price_per_sqft
9458      3 BHK      1325.0   2.0   60.8   Somwar Peth    3     4588.679245
9459      2 BHK       770.0   1.0   36.0   Somwar Peth    2     4675.324675
9460      3 BHK      2026.0   3.0  132.0   Somwar Peth    3     6515.301086
9461      2 BHK      1166.0   2.0   55.0   Somwar Peth    2     4716.981132
9462      3 BHK      1800.0   3.0  110.0   Somwar Peth    3     6111.111111
...         ...         ...   ...    ...           ...  ...             ...
9571      2 BHK      1260.0   2.0   83.5   Somwar Peth    2     6626.984127
9572  3 Bedroom      1740.0   3.0  150.0   Somwar Peth    3     8620.689655
9573      3 BHK      1596.0   3.0  118.0   Somwar Peth    3     7393.483709
9574      2 BHK      1274.0   2.0   90.0   Somwar Peth    2     7064.364207
9575      2 BHK      1048.0   2.0   44.0   Somwar Peth    2     4198.473282

[118 rows x 7 columns]
Swargate        size  total_sqft  bath   price site_location  bhk  price_per_sqft
9576  3 BHK      1499.0   5.0  102.00      Swargate    3     6804.536358
9577  2 BHK      1242.0   2.0   51.00      Swargate    2     4106.280193
9578  2 BHK      1210.0   2.0   80.90      Swargate    2     6685.950413
9579  2 BHK      1050.0   2.0   65.00      Swargate    2     6190.476190
9580  2 BHK      1070.0   2.0   54.00      Swargate    2     5046.728972
...     ...         ...   ...     ...           ...  ...             ...
9696  3 BHK      1150.0   3.0   65.00      Swargate    3     5652.173913
9697  3 BHK      1282.0   2.0   48.72      Swargate    3     3800.312012
9698  3 BHK      1710.0   3.0  110.00      Swargate    3     6432.748538
9699  9 BHK      4600.0   9.0  150.00      Swargate    9     3260.869565
9700  2 BHK      1225.0   2.0   52.00      Swargate    2     4244.897959

[125 rows x 7 columns]
Tilak Road            size  total_sqft  bath   price site_location  bhk  price_per_sqft
9701  6 Bedroom      3000.0   7.0  210.00    Tilak Road    6     7000.000000
9702      3 BHK      1700.0   3.0  155.00    Tilak Road    3     9117.647059
9703  4 Bedroom      4111.0   4.0  250.00    Tilak Road    4     6081.245439
9704      3 BHK      1490.0   3.0   84.00    Tilak Road    3     5637.583893
9705      2 BHK      1132.5   2.0   48.13    Tilak Road    2     4249.889625
...         ...         ...   ...     ...           ...  ...             ...
9809      2 BHK      1052.0   2.0   34.72    Tilak Road    2     3300.380228
9810      3 BHK      2250.0   3.0  180.00    Tilak Road    3     8000.000000
9811      3 BHK      1557.0   3.0   70.00    Tilak Road    3     4495.825305
9812      3 BHK      1350.0   3.0   80.99    Tilak Road    3     5999.259259
9813      2 BHK      1200.0   2.0   70.00    Tilak Road    2     5833.333333

[113 rows x 7 columns]
Uruli Devachi            size  total_sqft  bath   price  site_location  bhk  price_per_sqft
9814      3 BHK      1665.0   3.0   88.00  Uruli Devachi    3     5285.285285
9815      3 BHK      2144.0   3.0  145.00  Uruli Devachi    3     6763.059701
9816      3 BHK      1762.0   3.0   91.45  Uruli Devachi    3     5190.124858
9817      2 BHK      1200.0   2.0   46.80  Uruli Devachi    2     3900.000000
9818  2 Bedroom      1440.0   2.0   95.00  Uruli Devachi    2     6597.222222
...         ...         ...   ...     ...            ...  ...             ...
9920      2 BHK      1045.0   2.0   45.00  Uruli Devachi    2     4306.220096
9921      3 BHK      1717.0   3.0  125.00  Uruli Devachi    3     7280.139779
9922      3 BHK      1410.0   3.0   68.00  Uruli Devachi    3     4822.695035
9923      2 BHK      1100.0   2.0   64.08  Uruli Devachi    2     5825.454545
9924      2 BHK      1175.0   2.0   65.00  Uruli Devachi    2     5531.914894

[111 rows x 7 columns]
Vadgaon Budruk         size  total_sqft  bath   price   site_location  bhk  price_per_sqft
9925   2 BHK       708.0   2.0   37.00  Vadgaon Budruk    2     5225.988701
9926   3 BHK      1704.0   3.0  110.00  Vadgaon Budruk    3     6455.399061
9927   3 BHK      1252.0   3.0   55.00  Vadgaon Budruk    3     4392.971246
9928   3 BHK      1600.0   2.0  108.00  Vadgaon Budruk    3     6750.000000
9929   2 BHK       900.0   2.0   40.00  Vadgaon Budruk    2     4444.444444
...      ...         ...   ...     ...             ...  ...             ...
10033  2 BHK      1088.0   2.0   46.00  Vadgaon Budruk    2     4227.941176
10034  2 BHK      1162.0   2.0   48.00  Vadgaon Budruk    2     4130.808950
10035  3 BHK      1984.0   4.0  148.00  Vadgaon Budruk    3     7459.677419
10036  3 BHK      1760.0   3.0  139.00  Vadgaon Budruk    3     7897.727273
10037  1 BHK      1075.0   2.0   52.57  Vadgaon Budruk    1     4890.232558

[113 rows x 7 columns]
Viman Nagar         size  total_sqft  bath   price site_location  bhk  price_per_sqft
10038  3 BHK      1420.0   2.0  100.00   Viman Nagar    3     7042.253521
10039  1 BHK       451.0   1.0   29.90   Viman Nagar    1     6629.711752
10040  2 BHK      1130.0   2.0   42.16   Viman Nagar    2     3730.973451
10041  2 BHK      1160.0   2.0   55.00   Viman Nagar    2     4741.379310
10042  3 BHK      1702.0   3.0  130.00   Viman Nagar    3     7638.072855
...      ...         ...   ...     ...           ...  ...             ...
10145  3 BHK      1738.0   3.0  110.00   Viman Nagar    3     6329.113924
10146  2 BHK      1200.0   2.0   42.00   Viman Nagar    2     3500.000000
10147  1 BHK       540.0   1.0   22.50   Viman Nagar    1     4166.666667
10148  4 BHK      2259.0   3.0  112.00   Viman Nagar    4     4957.945994
10149  3 BHK      1500.0   2.0   55.00   Viman Nagar    3     3666.666667

[112 rows x 7 columns]
Vishrant Wadi             size  total_sqft  bath    price  site_location  bhk  \
10150      2 BHK      1000.0   2.0   70.000  Vishrant Wadi    2
10151      2 BHK      1340.0   2.0   55.700  Vishrant Wadi    2
10152      3 BHK      1800.0   3.0   95.000  Vishrant Wadi    3
10153  4 Bedroom      4144.0   4.0  315.000  Vishrant Wadi    4
10154      2 BHK       775.0   2.0   55.000  Vishrant Wadi    2
...          ...         ...   ...      ...            ...  ...
10259      3 BHK      1650.0   3.0   48.000  Vishrant Wadi    3
10260      3 BHK      1325.0   2.0   60.000  Vishrant Wadi    3
10261      3 BHK      1533.0   3.0   75.885  Vishrant Wadi    3
10262      3 BHK      1720.0   3.0  100.000  Vishrant Wadi    3
10263      3 BHK      1783.0   3.0   85.000  Vishrant Wadi    3

       price_per_sqft
10150     7000.000000
10151     4156.716418
10152     5277.777778
10153     7601.351351
10154     7096.774194
...               ...
10259     2909.090909
10260     4528.301887
10261     4950.097847
10262     5813.953488
10263     4767.246214

[114 rows x 7 columns]
Wadgaon Sheri             size  total_sqft  bath   price  site_location  bhk  price_per_sqft
10264      2 BHK      1060.0   2.0   58.06  Wadgaon Sheri    2     5477.358491
10265      2 BHK      1070.0   2.0   52.00  Wadgaon Sheri    2     4859.813084
10266      2 BHK       861.0   2.0   34.50  Wadgaon Sheri    2     4006.968641
10267      3 BHK      1935.0   3.0  110.00  Wadgaon Sheri    3     5684.754522
10268      3 BHK      1600.0   3.0   86.00  Wadgaon Sheri    3     5375.000000
...          ...         ...   ...     ...            ...  ...             ...
10366      3 BHK      1335.0   2.0   56.00  Wadgaon Sheri    3     4194.756554
10367      2 BHK      1362.0   2.0   85.00  Wadgaon Sheri    2     6240.822320
10368      2 BHK      1196.0   2.0   60.00  Wadgaon Sheri    2     5016.722408
10369  3 Bedroom      1200.0   3.0  110.00  Wadgaon Sheri    3     9166.666667
10370      3 BHK      1651.0   3.0   49.53  Wadgaon Sheri    3     3000.000000

[107 rows x 7 columns]
Wagholi         size  total_sqft  bath  price site_location  bhk  price_per_sqft
10371  2 BHK      1000.0   2.0  28.88       Wagholi    2     2888.000000
10372  2 BHK      1025.0   2.0  46.00       Wagholi    2     4487.804878
10373  3 BHK      1490.0   3.0  78.80       Wagholi    3     5288.590604
10374  3 BHK      1400.0   3.0  77.00       Wagholi    3     5500.000000
10375  2 BHK      1270.0   2.0  98.00       Wagholi    2     7716.535433
...      ...         ...   ...    ...           ...  ...             ...
10481  3 BHK      1432.0   3.0  79.00       Wagholi    3     5516.759777
10482  2 BHK      1371.0   2.0  86.00       Wagholi    2     6272.793581
10483  2 BHK      1157.0   2.0  73.00       Wagholi    2     6309.420916
10484  2 BHK      1140.0   2.0  46.00       Wagholi    2     4035.087719
10485  2 BHK      1015.0   2.0  35.00       Wagholi    2     3448.275862

[115 rows x 7 columns]
Wakadewadi             size  total_sqft  bath   price site_location  bhk  price_per_sqft
10486      3 BHK      1450.0   2.0   70.00    Wakadewadi    3     4827.586207
10487      2 BHK      1277.5   2.0   56.80    Wakadewadi    2     4446.183953
10488      3 BHK      1075.0   2.0   46.00    Wakadewadi    3     4279.069767
10489      3 BHK      1801.0   3.0  115.00    Wakadewadi    3     6385.341477
10490      2 BHK      1200.0   2.0   62.00    Wakadewadi    2     5166.666667
...          ...         ...   ...     ...           ...  ...             ...
10582  3 Bedroom      2100.0   3.0  150.00    Wakadewadi    3     7142.857143
10583  5 Bedroom      2700.0   5.0  150.00    Wakadewadi    5     5555.555556
10584      4 BHK      2283.0   2.0  121.00    Wakadewadi    4     5300.043802
10585      2 BHK      1256.0   2.0   62.80    Wakadewadi    2     5000.000000
10586      3 BHK      1530.0   3.0   64.86    Wakadewadi    3     4239.215686

[101 rows x 7 columns]
Wanowrie             size  total_sqft  bath   price site_location  bhk  price_per_sqft
10587      2 BHK      1200.0   2.0   52.00      Wanowrie    2     4333.333333
10588      3 BHK      1425.0   2.0   94.00      Wanowrie    3     6596.491228
10589      2 BHK      1451.0   2.0   90.00      Wanowrie    2     6202.618884
10590      4 BHK      4800.0   4.0  235.00      Wanowrie    4     4895.833333
10591      5 BHK      5520.0   2.0  375.00      Wanowrie    5     6793.478261
...          ...         ...   ...     ...           ...  ...             ...
10700      2 BHK      1200.0   2.0   54.00      Wanowrie    2     4500.000000
10701      3 BHK      1410.0   2.0   54.99      Wanowrie    3     3900.000000
10702      2 BHK      1243.0   2.0   46.00      Wanowrie    2     3700.724055
10703      3 BHK      1724.0   3.0  140.00      Wanowrie    3     8120.649652
10704  4 Bedroom      2758.0   4.0  240.00      Wanowrie    4     8701.957941

[118 rows x 7 columns]
Warje             size  total_sqft  bath   price site_location  bhk  price_per_sqft
10705      2 BHK      1296.0   2.0   80.00         Warje    2     6172.839506
10706  4 Bedroom      2250.0   4.0  110.00         Warje    4     4888.888889
10707      2 BHK      1200.0   2.0   40.00         Warje    2     3333.333333
10708  2 Bedroom      1200.0   1.0   36.00         Warje    2     3000.000000
10709      2 BHK      1200.0   2.0   74.00         Warje    2     6166.666667
...          ...         ...   ...     ...           ...  ...             ...
10815      2 BHK      1362.0   2.0   66.00         Warje    2     4845.814978
10816      3 BHK      1510.0   2.0   65.00         Warje    3     4304.635762
10817  4 Bedroom      2665.0   5.0  125.00         Warje    4     4690.431520

In [39]:
def bhk_outlier_remover(df):
    exclude_indices = np.array([])
    for location, location_df in df.groupby('site_location'):
        bhk_stats = {}
        for bhk, bhk_df in location_df.groupby('bhk'):
            bhk_stats[bhk] = {
                'mean' : np.mean(bhk_df.price_per_sqft), 
                'std': np.std(bhk_df.price_per_sqft), 
                'count': bhk_df.shape[0]
            }
                                               
        #print(location, bhk_stats)
                                             
        for bhk, bhk_df in location_df.groupby('bhk'):
            stats = bhk_stats.get(bhk-1)
            if stats and stats['count']>5:
                exclude_indices = np.append(exclude_indices, bhk_df[bhk_df.price_per_sqft < (stats['mean'])].index.values)
    return df.drop(exclude_indices,axis= 'index')

In [40]:
df = bhk_outlier_remover(df)

In [41]:
df

            size  total_sqft  bath   price site_location  bhk  price_per_sqft
0          2 BHK      1056.0   2.0   39.07   Alandi Road    2     3699.810606
1      4 Bedroom      2894.0   4.0  245.00   Alandi Road    4     8465.791292
2          2 BHK      1084.0   2.0   50.00   Alandi Road    2     4612.546125
3          2 BHK      1230.0   2.0   80.00   Alandi Road    2     6504.065041
4          3 BHK      1750.0   3.0  130.00   Alandi Road    3     7428.571429
...          ...         ...   ...     ...           ...  ...             ...
10934      4 BHK      3122.0   6.0  250.00      Yerawada    4     8007.687380
10937  6 Bedroom      3500.0   6.0  115.00      Yerawada    6     3285.714286
10940  5 Bedroom      3210.0   2.0  353.00      Yerawada    5    10996.884735
10941      2 BHK      1050.0   2.0   54.00      Yerawada    2     5142.857143
10945      2 BHK      1132.0   2.0   70.00      Yerawada    2     6183.745583

[7466 rows x 7 columns]

In [42]:
df.describe()

         total_sqft         bath        price          bhk  price_per_sqft
count   7466.000000  7466.000000  7466.000000  7466.000000     7466.000000
mean    1508.754335     2.471203    94.189954     2.517010     5937.747010
std      931.519694     1.047199    74.195301     0.977465     1607.019294
min      300.000000     1.000000    10.000000     1.000000     2000.000000
25%     1100.000000     2.000000    52.575000     2.000000     4905.139803
50%     1269.360000     2.000000    75.000000     2.000000     5797.101449
75%     1691.000000     3.000000   110.000000     3.000000     6899.358753
max    30400.000000    16.000000  2100.000000    16.000000    17548.524329

In [43]:
# Removing the rows that have 'bath' greater than 'bhk'+2
df = df[df.bath<(df.bhk+2)]
print(df.shape)

(7401, 7)

In [44]:
df.drop(columns=['size','price_per_sqft'],inplace=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_4260\1032069002.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=['size','price_per_sqft'],inplace=True)

In [45]:
df

       total_sqft  bath   price site_location  bhk
0          1056.0   2.0   39.07   Alandi Road    2
1          2894.0   4.0  245.00   Alandi Road    4
2          1084.0   2.0   50.00   Alandi Road    2
3          1230.0   2.0   80.00   Alandi Road    2
4          1750.0   3.0  130.00   Alandi Road    3
...           ...   ...     ...           ...  ...
10932      1165.0   2.0   67.00      Yerawada    2
10937      3500.0   6.0  115.00      Yerawada    6
10940      3210.0   2.0  353.00      Yerawada    5
10941      1050.0   2.0   54.00      Yerawada    2
10945      1132.0   2.0   70.00      Yerawada    2

[7401 rows x 5 columns]

In [46]:
df.describe()

         total_sqft         bath        price          bhk
count   7401.000000  7401.000000  7401.000000  7401.000000
mean    1489.798001     2.440076    92.595959     2.504391
std      897.693311     0.989927    71.296149     0.965213
min      300.000000     1.000000    10.000000     1.000000
25%     1100.000000     2.000000    52.080000     2.000000
50%     1262.000000     2.000000    75.000000     2.000000
75%     1680.000000     3.000000   110.000000     3.000000
max    30400.000000    16.000000  2100.000000    16.000000

In [47]:
df.to_csv('cleaned_data.csv')

In [48]:
X = df.drop(columns=['price'])
y = df['price']

In [49]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.compose import make_column_selector as selector
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

preprocessor = ColumnTransformer(transformers=[
        ("num", StandardScaler(), selector(dtype_exclude=object)),
        ("cat", OneHotEncoder(sparse=False,drop='first',handle_unknown='ignore'), selector(dtype_exclude="number")),])

clf = Pipeline(
    steps=[("preprocessor", preprocessor), ("classifier", LinearRegression())])


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)


clf.fit(X_train, y_train)

output = clf.predict(X_test)

print(r2_score(output, y_test))

clf

0.8911640996820948

C:\Users\Admin\AppData\Roaming\Python\Python39\site-packages\sklearn\preprocessing\_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('preprocessor',
                 ColumnTransformer(transformers=[('num', StandardScaler(),
                                                  <sklearn.compose._column_transformer.make_column_selector object at 0x000002EE7CFE01C0>),
                                                 ('cat',
                                                  OneHotEncoder(drop='first',
                                                                handle_unknown='ignore',
                                                                sparse=False),
                                                  <sklearn.compose._column_transformer.make_column_selector object at 0x000002EE7CC179D0>)])),
                ('classifier', LinearRegression())])

# Pickle

In [50]:
import pickle

In [51]:
pickle.dump(clf,open('clf.pkl','wb'))

In [52]:
pickle.dump(df,open('df.pkl','wb'))

# Joblib

In [53]:
import joblib

In [54]:
joblib.dump(clf,'Pune_house_price_prediction')

['Pune_house_price_prediction']

In [55]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.compose import make_column_selector as selector
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

preprocessor = ColumnTransformer(transformers=[
        ("num", StandardScaler(), selector(dtype_exclude=object)),
        ("cat", OneHotEncoder(sparse=False,drop='first',handle_unknown='ignore'), selector(dtype_exclude="number")),])

clf = Pipeline(
    steps=[("preprocessor", preprocessor), ("classifier", Lasso())])


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)


clf.fit(X_train, y_train)

output = clf.predict(X_test)

print(r2_score(output, y_test))

clf

0.8836237139573324

C:\Users\Admin\AppData\Roaming\Python\Python39\site-packages\sklearn\preprocessing\_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('preprocessor',
                 ColumnTransformer(transformers=[('num', StandardScaler(),
                                                  <sklearn.compose._column_transformer.make_column_selector object at 0x000002EE7CC17580>),
                                                 ('cat',
                                                  OneHotEncoder(drop='first',
                                                                handle_unknown='ignore',
                                                                sparse=False),
                                                  <sklearn.compose._column_transformer.make_column_selector object at 0x000002EE7CC17190>)])),
                ('classifier', Lasso())])

In [56]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.compose import make_column_selector as selector
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

preprocessor = ColumnTransformer(transformers=[
        ("num", StandardScaler(), selector(dtype_exclude=object)),
        ("cat", OneHotEncoder(sparse=False,drop='first',handle_unknown='ignore'), selector(dtype_exclude="number")),])

clf = Pipeline(
    steps=[("preprocessor", preprocessor), ("classifier", Ridge())])


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)


clf.fit(X_train, y_train)

output = clf.predict(X_test)

print(r2_score(output, y_test))

clf

C:\Users\Admin\AppData\Roaming\Python\Python39\site-packages\sklearn\preprocessing\_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

0.8912194529790477

Pipeline(steps=[('preprocessor',
                 ColumnTransformer(transformers=[('num', StandardScaler(),
                                                  <sklearn.compose._column_transformer.make_column_selector object at 0x000002EE7D3B3FA0>),
                                                 ('cat',
                                                  OneHotEncoder(drop='first',
                                                                handle_unknown='ignore',
                                                                sparse=False),
                                                  <sklearn.compose._column_transformer.make_column_selector object at 0x000002EE7D3B3CD0>)])),
                ('classifier', Ridge())])

In [57]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor,GradientBoostingRegressor,AdaBoostRegressor
from xgboost import XGBRegressor

In [58]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.compose import make_column_selector as selector
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

preprocessor = ColumnTransformer(transformers=[
        ("num", StandardScaler(), selector(dtype_exclude=object)),
        ("cat", OneHotEncoder(sparse=False,drop='first',handle_unknown='ignore'), selector(dtype_exclude="number")),])

clf = Pipeline(
    steps=[("preprocessor", preprocessor), ("classifier", DecisionTreeRegressor(max_depth=8))])


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)


clf.fit(X_train, y_train)

output = clf.predict(X_test)

print(r2_score(output, y_test))

clf

0.8770274992747162

C:\Users\Admin\AppData\Roaming\Python\Python39\site-packages\sklearn\preprocessing\_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('preprocessor',
                 ColumnTransformer(transformers=[('num', StandardScaler(),
                                                  <sklearn.compose._column_transformer.make_column_selector object at 0x000002EE7D3B7130>),
                                                 ('cat',
                                                  OneHotEncoder(drop='first',
                                                                handle_unknown='ignore',
                                                                sparse=False),
                                                  <sklearn.compose._column_transformer.make_column_selector object at 0x000002EE7D3B73A0>)])),
                ('classifier', DecisionTreeRegressor(max_depth=8))])

In [59]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.compose import make_column_selector as selector
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

preprocessor = ColumnTransformer(transformers=[
        ("num", StandardScaler(), selector(dtype_exclude=object)),
        ("cat", OneHotEncoder(sparse=False,drop='first',handle_unknown='ignore'), selector(dtype_exclude="number")),])

clf = Pipeline(
    steps=[("preprocessor", preprocessor), ("classifier",  RandomForestRegressor(n_estimators=100))])


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)


clf.fit(X_train, y_train)

output = clf.predict(X_test)

print(r2_score(output, y_test))

clf

C:\Users\Admin\AppData\Roaming\Python\Python39\site-packages\sklearn\preprocessing\_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

0.7638420295589027

Pipeline(steps=[('preprocessor',
                 ColumnTransformer(transformers=[('num', StandardScaler(),
                                                  <sklearn.compose._column_transformer.make_column_selector object at 0x000002EE01D7E0A0>),
                                                 ('cat',
                                                  OneHotEncoder(drop='first',
                                                                handle_unknown='ignore',
                                                                sparse=False),
                                                  <sklearn.compose._column_transformer.make_column_selector object at 0x000002EE01D7E160>)])),
                ('classifier', RandomForestRegressor())])